.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.placeholder {
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .list {
    gap: 8px;
  }

  .placeholder {
    font-size: 16px;
  }
}
